{% extends 'customers/layout.html' %}

{% block styles %}
  {{ super() }}
  <link href="{{ url_for('static', filename='css/dvds.css') }}" rel="stylesheet" type="text/css"></link>
{% endblock %}

{% block content %}
    <div class="container marketing">
      <div class="row">
        <div class="col-xs-12">
          <div class="page-header"><h2>DVD's</h2></div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-lg-8">
          <video width="100%" height="auto" controls autoplay>
            <source src="{{ url_for('static', filename='videos/video.mp4') }}" type="video/mp4" controls>
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="col-lg-4 col-xs-12">
          <div id="dvd_purchase" class="well text-center">
            <h1>Buy DVD's Here!</h1>
            <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="{{ url_for('static', filename='img/dvd-icon.png') }}" style="width: 140px; height: 140px;">
            </br></br>
            <p class="lead">DVD's from 2013, 2014, and 2015 are available to be purchased here.</p>
            <p><a class="btn btn-lg btn-success" href="http://memorymattersmediastore.weebly.com/store/c4/Howard_High_School_Showcases.html" role="button">Buy Now</a></p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
      