{% extends 'performers/layout.html' %}

{% block styles %}
  {{ super() }}
  <link href="{{ url_for('static', filename='css/performers.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
  
    <div class="container marketing">
      <div id="schedule" class="row">
        <div class="col-xs-12">
          <div class="page-header"><h2 style="padding-top:15px;">Audition Requirments</h2></div>

    
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">All</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>Must be able to attend Dress Rehearsals:</li>
              <ul>
                <li>December 15th - 19th (3-6pm)</li>
                <li>December 22nd - 23rd (3-6pm)</li>
                <li>Jaunuary 5th - 9th (3-8pm)</li>
              </ul>
          </ul>
        </div>
      </div>  

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Performers</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>Must be able to attend Shows:</li>
              <ul>
                <li>January 15th (5pm-)</li>
                <li>January 16nd (5pm-)</li>
                <li>January 17th (5pm-)</li>
              </ul>
          </ul>
        </div>
      </div>  

     <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Visual Artists - Wednesday September 10th</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>Portfolios for:</li>
              <ul>
                <li>Photo/Video</li>
                <li>Visual Art Design</li>
                <li>Stage/Lighting</li>
              </ul>
          </ul>
        </div>
      </div>  

     <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Vocal/Lead - September 22th - 24th</h3>
        </div>
        <div class="panel-body">
          Show up ready to perform.
        </div>
      </div>  

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Band - October 14th - 16th</h3>
        </div>
        <div class="panel-body">
          <ul>  
            <li>Know and be able to play:</li> 
            <ul>
              <li>2 Arrangements from composers</li>
              <li>3 songs from vocal auditions</li>
            </ul>
          </ul>
          <ul>
            <li>Be able to Attend Dress Rehearsals:</li> 
            <ul>
              <li>November 10th - 14th</li>
              <li>November 17th - 21st</li>
              <li>December 1st - 5th</li>
              <li>December 8th - 12th</li>
            </ul>
          </ul>
        </div>
      </div>  

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Dance</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li><a href="http://www.youtube.com/watch?v=oWDxLxFFpZY" target="_blank">Irish step dancing video</a></li>
            <li><a href="http://www.learntodance.com/online%20irish%20dancing%20lesson.htm" target="_blank">Irish step dancing article</a></li>
          </ul>
        </div>
      </div> 
    </div> 
      <!-- FOOTER -->
      <!--<footer>
        <p class="pull-right"><a href="http://getbootstrap.com/examples/carousel/#">Back to top</a></p>
        <p>© 2014 Company, Inc. · <a href="http://getbootstrap.com/examples/carousel/#">Privacy</a> · <a href="http://getbootstrap.com/examples/carousel/#">Terms</a></p>
      </footer> -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>

{% endblock %}
