{% extends 'performers/layout.html' %}

{% block styles %}
{{ super() }}
<style type="text/css">
    .nav-list {
      padding-right: 15px;
      padding-left: 15px;
      margin: 0;
    }

    .nav-list label {
        margin-bottom: 0;
    }

    .nav-list>li>a {
        padding: 0;
    }
</style>
{% endblock %}


{% block inner_content %}
    <div class="page-header"><h2>Scores</h2></div>

    {% for score_name, score_files in scores.iteritems() %}
    <div class="col-xs-12 col-sm-4">
        <h3>{{ score_name }}</h3>
        <ul>
            {% for score_file in score_files %}
            <li>
                <a href="{{ url_for('static', filename='scores/' + score_name + '/' + score_file) }}" target="_blank">{{ score_file[:-4] }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
{% endblock %}

