{% extends 'performers/layout.html' %}

{% block styles %}
  {{ super() }}
  <link href="{{ url_for('static', filename='css/performers.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
 
    <div class="container marketing">
      <div id="schedule" class="row">
        <div class="col-xs-12">
          <div class="page-header"><h2>Scores</h2></div>
      </div>
    </div>

    <h3>Pompeii</h3>
    <a href="{{ url_for('static', filename='scores/Pompeii/Alto Choir Part.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Alto Choir Part</a></br>
    <a href="{{ url_for('static', filename='scores/Pompeii/Alto Sax 1.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Alto Sax 1</a></br>
    <a href="{{ url_for('static', filename='scores/Pompeii/Alto Sax 2.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Alto Sax 2</a></br>
    <a href="{{ url_for('static', filename='scores/Pompeii/Baritone Choir Part.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Baritone Choir Part</a></br>
    <a href="{{ url_for('static', filename='scores/Pompeii/Bass Choir Part.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Bass Choir Part</a></br>
    <a href="{{ url_for('static', filename='scores/Pompeii/Cello') }}" rel="stylesheet" type="text/css" target="_blank">Cello</a></br>
    <a href="{{ url_for('static', filename='scores/Pompeii/Clarinet 1.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Clarinet 1</a></br>
    <a href="{{ url_for('static', filename='scores/Pompeii/Clarinet 2.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Clarinet 2</a></br>
    <a href="{{ url_for('static', filename='scores/Pompeii/Drums.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Drums</a></br>
    <a href="{{ url_for('static', filename='scores/Pompeii/Euphonium.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Euphonium</a></br>
    <a href="{{ url_for('static', filename='scores/Pompeii/Flute 1.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Flute 1</a></br>
    <a href="{{ url_for('static', filename='scores/Pompeii/Flute 2.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Flute 2</a></br>
    <a href="{{ url_for('static', filename='scores/Pompeii/French Horn.pdf') }}" rel="stylesheet" type="text/css" target="_blank">French Horn<a/></br>
    <a href="{{ url_for('static', filename='scores/Pompeii/Full Orchestra and Choir.mp3') }}" rel="stylesheet" type="text/css" target="_blank">Full Orchestra and Choir</a></br>
    <a href="{{ url_for('static', filename='scores/Pompeii/Lead and Backing Vocals.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Lead and Backing Vocals</a></br>
    <a href="{{ url_for('static', filename='scores/Pompeii/Lead Vocals.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Lead Vocals</a></br>
    <a href="{{ url_for('static', filename='scores/Pompeii/Pompeii.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Pompeii</a></br>
    <a href="{{ url_for('static', filename='scores/Pompeii/String Bass.pdf') }}" rel="stylesheet" type="text/css" target="_blank">String Bass</a></br>
    <a href="{{ url_for('static', filename='scores/Pompeii/Strings.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Strings</a></br>
    <a href="{{ url_for('static', filename='scores/Pompeii/Symphonic Band + Drums.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Symphonic Band + Drums</a></br>
    <a href="{{ url_for('static', filename='scores/Pompeii/Tenor Choir Part.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Tenor Choir Part</a></br>
    <a href="{{ url_for('static', filename='scores/Pompeii/Trombone 1.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Trombone 1</a></br>
    <a href="{{ url_for('static', filename='scores/Pompeii/Trombone 2.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Trombone 2</a></br>
    <a href="{{ url_for('static', filename='scores/Pompeii/Trumpet.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Trumpet</a></br>
    <a href="{{ url_for('static', filename='scores/Pompeii/Tuba.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Tuba</a></br>
    <a href="{{ url_for('static', filename='scores/Pompeii/Viola.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Viola</a></br>
    <a href="{{ url_for('static', filename='scores/Pompeii/Violin 1.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Violin 1</a></br>
    <a href="{{ url_for('static', filename='scores/Pompeii/Violin 2.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Violin 2</a></br>

    <h3>Over</h3>
    <a href="{{ url_for('static', filename='scores/Over/Bass.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Bass</a></br>
    <a href="{{ url_for('static', filename='scores/Over/Cello.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Cello</a></br>
    <a href="{{ url_for('static', filename='scores/Over/Alto Sax 2.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Alto Sax 2</a></br>
    <a href="{{ url_for('static', filename='scores/Over/Clap.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Clap</a></br>
    <a href="{{ url_for('static', filename='scores/Over/Drums.pdf') }}" rel="stylesheet" type="text/css" target="_blank">drums</a></br>
    <a href="{{ url_for('static', filename='scores/Over/Flute') }}" rel="stylesheet" type="text/css" target="_blank">Flute</a></br>
    <a href="{{ url_for('static', filename='scores/Over/Guitar.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Guitar</a></br>
    <a href="{{ url_for('static', filename='scores/Over/Over.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Over</a></br>
    <a href="{{ url_for('static', filename='scores/Over/Trombone.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Trombone</a></br>
    <a href="{{ url_for('static', filename='scores/Over/Trupet.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Trupet</a></br>
    <a href="{{ url_for('static', filename='scores/Over/Viola.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Viola</a></br>
    <a href="{{ url_for('static', filename='scores/Over/Violin.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Violin</a></br>
    <a href="{{ url_for('static', filename='scores/Over/Xylophone.pdf') }}" rel="stylesheet" type="text/css" target="_blank">Xylophone</a></br>

    


{% endblock %}
