{% extends 'layout.html' %}

{% block css %}
    <link href="{{ url_for('static', filename='css/dvds.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container marketing">
      <div class="row">
        <div class="col-xs-12">
          <div class="page-header">
            <h3 class="">DVD's</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-lg-8">
          <iframe src="http://www.youtube.com/embed/rn:-wj4pRpIE" width="640px" height="480px"></iframe>
        </div>
       
        <div class="col-lg-4">
          <div id="dvd_purchase" class="well">
            <h1>Buy DVD's Here!</h1>
            <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="{{ url_for('static', filename='img/dvd-icon.png') }}" style="width: 140px; height: 140px;">
            </br></br>
            <p class="lead">DVD's will be available to purchase here</p>
            <p><a class="btn btn-lg btn-success" href="#" role="button">Buy Now</a></p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
      
