{% extends "bootstrap/base.html" %}

{% block title %}
  Howard Showcase 2015
{% endblock %}

{% block styles %}
  {{ super() }}
  <link href="{{ url_for('static', filename='css/main.css') }}"></link>
  <link href="http://getbootstrap.com/examples/carousel/carousel.css" rel="stylesheet"></link>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% block main_row_content %}
            <div class="col col-xs-12">
                {% block inner_content %}
                {% endblock %}
            </div>
            {% endblock %}
        </div>
        {% block additional_rows %}
        {% endblock %}
    </div>
{% endblock %}
