{% extends 'layout.html' %}

{% block css %}
    <link href="{{ url_for('static', filename='css/ticketrs.css') }}" rel="stylesheet">
{% endblock %}
    
{% block content %}
    <div class="container">
      <div class="jumbotron">
        <h1>Buy Tickets Here!</h1>
        <p class="lead">There will be a show on <strong>Thursday Jaunuary 16</strong> and two shows on <strong>Friday Jaunuary 16, and Saturday Jaunuary 16</strong> </p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Buy Now</a></p>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
  
</body></html>

{% endblock %}


