<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpeg "access plus 1 years"
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_URI} \.(jpg|jpeg|gif|png)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .*?\/graphical\/.*$ 1x1-pixel.png [L]

RewriteCond %{REQUEST_URI} \.(jpg|jpeg|gif|png)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .*?\/posters\/.*$ 1x1-pixel.png [L]

RewriteCond %{REQUEST_URI} \.(jpg|jpeg|gif|png)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .*?\/text\/.*$ 1x1-pixel.png [L]

RewriteCond %{REQUEST_URI} \.(jpg|jpeg|gif|png)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .*?\/blank\/.*$ 1x1-pixel.png [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .*$ 1x1-pixel.png [L]
</IfModule>
